/build/
/plugins/
/.settings/
*.o
*.a
*.lib
/*.log
/*.txlog
/*.vcd
/*.ftr
/*.fst
/.vs
/out
/coverage.info
/output.txt
/output.trc
CMakeSettings.json
/.venv
/src-gen/
/cfg.yaml
/.direnv
/.cache
/CMakeUserPresets.json
/.envrc.*
.clangd
/install
.gdb_history
.launch/TGC-VP interp.launch
.launch/TGC-VP-FW-Debug dhrystone.launch
